<div class="content_post" style="background-image: url(<%= url_for(prototype.image) %>);">
  <div class="more">
    <span><%= image_tag url_for(prototype.image) %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', prototype_path(prototype) %>
      </li>
      <% if user_signed_in? && current_user.id == prototype.user_id %>
        <li>
          <%= link_to '編集', edit_prototype_path(prototype) %>
        </li>
        <li>
          <%= link_to '削除', prototype_path(prototype), data: { turbo_method: :delete } %>
        </li>
      <% end %>
    </ul>
  </div>
  <span class="name">
    <%= prototype.user.name %>
  </span>
</div>